# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

Version: [#133732](https://gitlab.lnu.se/1dv607/student/mh225wi/a2/-/pipelines/133732)
Date: 2022.10.07
Environment: Windows, Java Version 17.0.4.1. Perfomerd by : Miranda.

| Case | Result | Note |
| ------ | ------ | ------ |
| 1.1 | OK |  |
| 1.2 | OK |  |
| 1.3 | OK | You have to be "logged in" to my system to check members list.  Step 5 and 4 switched place and only 1 Allan is listed then. |
| 2.1 | OK |  On step 2 the Members item are listed in the Verbose list, not member's details.|
| 2.2 | OK |  |
| 2.3 | OK |  |
| 3.1 | OK |  |
| 3.2 | OK |  |
| 3.3 | OK | I dont understand how to do this test. But I made it so I lent l2 for M1 from day 4 including day 6 (end day 7) For 3.4 item is not lendable, same for 3.5 & 3.6 |
| 3.4 | OK |  In my system from day 1-3 will show end day as 4. End day will count as "return day" and will have a grace period for loaning.|
| 3.5 | OK |  |
| 3.6 | OK |  |
| 4.1 | OK |  |
| 5.1 | OK |  End day in my system is "returnday", so day 5,6 and 7 are lending days. Return day is a grace period from lending.|
