# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.


Case  Result Note

1.1 OK 

1.2 OK

1.3 